/* @import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"; */

.navbar {
  color: white;
  background-color: black;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.navbar-item {
  color: white;
}
.burger {
  color: white;
}
